.vs
Debug/
Release/
log.txt
*.user
*.dll
.DS_Store
xcuserdata
debug/
deps/
build/codelite-linux/

doc/html/

doc/temp/
doc/guide/resources/_gen
doc/guide/public
.hugo_build.lock

resources/parallels/

alpha_blending_example_files/

SDL2_image/

SDL2/

glew/

build/
vsbuild/

freetype/include
freetype/lib

.vscode/
