.vs
Debug/
Release/
log.txt
*.user
*.dll
.DS_Store
xcuserdata
debug/
deps/
build/codelite-linux/

doc/html/

doc/temp/

resources/parallels/

alpha_blending_example_files/

SDL2_image/

SDL2/

glew/

build/

freetype/include
freetype/lib

.vscode/
